[access]
	inheritFrom = GerritForge/gerrit-enterprise-projects
[project]
	description = Gerrit module for using the ChronicleMap as cache persistence layer
[access "refs/*"]
	owner = group GerritForge-cache-chroniclemap
	label-Code-Review = -2..+2 group GerritForge-cache-chroniclemap
	label-Verified = -1..+1 group GerritForge-cache-chroniclemap
	rebase = group GerritForge-cache-chroniclemap
	submit = group GerritForge-cache-chroniclemap
	removeReviewer = group GerritForge-cache-chroniclemap
[access "refs/tags/*"]
	push = +force group user/Luca Milanesio (lucamilanesio)
